<table mat-table [dataSource]="lista" class="mat-elevation-z8">
  <ng-container *ngFor="let coluna of colunas" matColumnDef="{{coluna.atributo}}">
    <div *ngIf="!coluna.template">
      <th mat-header-cell *matHeaderCellDef> {{coluna.valorCabecalho}} </th>
      <td mat-cell *matCellDef="let element"> {{buscarValor(element, coluna.atributo )}} </td>
    </div>

  <div *ngIf="coluna.template">
      <th mat-header-cell *matHeaderCellDef> {{coluna.valorCabecalho}} </th>
      <td mat-cell *matCellDef="let element">
          <div [ngTemplateOutlet]="coluna.template" [ngTemplateOutletContext]="{item: element, indice:indice}"> </div>
      </td>
  </div>

</ng-container>

  <tr mat-header-row *matHeaderRowDef="getCabecalho()"></tr>
  <tr mat-row *matRowDef="let row; columns: getCabecalho();"></tr>
</table>
